<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="base(formContent, icon, pageTitle)">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>suaninc</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	
	<script src="/js/apply-script.js"></script>
	<link rel="stylesheet" href="/css/common.css" />
	<!-- Icons. Uncomment required icon fonts -->
	<link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />
	<!-- Core CSS -->
	<link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
	<link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
	<link rel="stylesheet" href="/assets/css/demo.css" />
	<!-- Vendors CSS -->
	<link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
	<link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />
	<!-- Helpers -->
	<script src="/assets/vendor/js/helpers.js"></script>
	<script src="/assets/js/config.js"></script>
	<!-- AdressAPI -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<body id="page-top">
	<div class="layout-wrapper layout-content-navbar">
	    <div class="layout-container">
		    <!-- 사이드바 -->
		    <div th:replace="~{/fragments/sidebar :: sidebar}"></div>
		    
        	<div class="layout-page">
				<!-- 네비게이션 -->
				<div th:replace="~{/fragments/navbar :: navbar(${icon}, ${pageTitle})}"></div>
				
				<div class="container-fluid mt-4">
                    <div class="row">
                        
                        <!-- 통신사별 폼 섹션 (여기가 바뀌는 부분) -->
                        <div th:replace="${formContent}"></div>
						
						<!-- 공통 이미지 섹션 -->
                        <div id="imageContainer" class="col-xl-6 col-lg-6 position-relative">
							<div th:each="templateImage, iterStat : ${templateImageList}" class="position-relative mb-3 template-image-container">
							    <img th:id="'templateImage_' + ${iterStat.index}"
									 th:data-order="${iterStat.index + 1}"
							         th:src="@{/external-images/{templateCode}/{imageName}(templateCode=${templateImage.templateCode}, imageName=${templateImage.templateImageName})}" 
							         class="template-image">
							</div>
                        </div>
		            </div>
				</div>
				
				<!-- Footer -->
				<div th:replace="~{/fragments/footer :: footer}"></div>
				<!-- / Footer -->
			</div>
        </div>
    </div>
	
	<!-- PDF 모달 -->
	<div class="modal fade" id="pdfPreviewModal" tabindex="-1" aria-hidden="true">
	    <div class="modal-dialog modal-xl modal-dialog-centered">
	        <div class="modal-content" style="height: 90vh; display: flex; flex-direction: column;">
				<div class="modal-header d-flex align-items-center justify-content-between" style="padding: 0.5rem 1rem;">
				    <h5 class="modal-title mb-0">PDF Preview</h5>
				</div>
	            <div class="modal-body p-0" style="flex: 1 1 auto; overflow: hidden;">
	                <iframe id="pdfPreviewIframe" style="width:100%; height:100%; border:0;"></iframe>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div th:replace="~{fragments/password-check-modal :: passwordCheckModal}"></div>
	<div th:replace="~{fragments/loading-message :: loadingMessage}"></div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
	
	<!-- Core JS -->
	<script src="/assets/vendor/js/menu.js"></script>
	<script src="/assets/vendor/libs/jquery/jquery.js"></script>
	<script src="/assets/vendor/libs/popper/popper.js"></script>
	<script src="/assets/vendor/js/bootstrap.js"></script>
	<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
	<script src="/assets/vendor/js/menu.js"></script>
	<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>
	<script src="/assets/js/main.js"></script>
	<script src="/assets/js/dashboards-analytics.js"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
	
</body>
</html>