<div class="card shadow mb-4">
	<!-- 요금제 -->
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">요금제</h6>
    </div>
    <div class="card-body">
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>일련번호</label>
			</div>
			<div class="col-sm-4">
			    <input type="text" class="form-control form-control-user" id="simSerialNumber">
			</div>
			<div class="col-sm-2 border-right">
		        <label>요금제</label>
		    </div>
			<div class="col-sm-4 mb-3 mb-sm-0">
			    <select id="simInformation" name="simInformation" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>요금제</label>
			</div>
			<div class="col-sm-4 mb-3 mb-sm-0">
			    <select id="simInformation" name="simInformation" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-sm-2 border-right">
		        <label>요금제</label>
		    </div>
			<div class="col-sm-4 mb-3 mb-sm-0">
			    <select id="simInformation" name="simInformation" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>
    </div>
	
	<!-- 고객정보 -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	    <h6 class="m-0 font-weight-bold text-primary">고객정보</h6>
	</div>
	<div class="card-body">
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
		        <label>가입자명</label>
		    </div>
			<div class="col-sm-4">
			        <input type="text" class="form-control form-control-user" id="name">
			    </div>
			<div class="col-sm-2 border-right">
		        <label>생년월일</label>
		    </div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="birthDate">
		    </div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
		        <label>주소</label>
		    </div>
		    <div class="col-sm-10">
		        <input type="text" class="form-control form-control-user" id="address">
		    </div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
		        <label>개통번호</label>
		    </div>
			<div class="col-sm-4">
			    <input type="text" class="form-control form-control-user" id="activationNumber">
			</div>
			<div class="col-sm-2 border-right">
		        <label>가입자연락처</label>
		    </div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="phoneNumber">
		    </div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
		        <label>개통구분</label>
		    </div>
			<div class="col-sm-4 mb-3 mb-sm-0">
		        <select name="dataTable_length" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
		    </div>
			<div class="col-sm-2 border-right">
			    <label>이전통신사</label>
			</div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="activationDivision">
		    </div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
		        <label>이동전상품유형</label>
		    </div>
			<div class="col-sm-4 mb-3 mb-sm-0">
		        <select name="dataTable_length" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
		    </div>
			<div class="col-sm-2 border-right">
			    <label>이전통신사</label>
			</div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="beforeNewsAgency">
		    </div>
		</div>
	</div>
	
	<!-- 자동이체 -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	    <h6 class="m-0 font-weight-bold text-primary">자동이체</h6>
	</div>
	<div class="card-body">
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>예금주명</label>
			</div>
			<div class="col-sm-4">
			    <input type="text" class="form-control form-control-user" id="exampleLastName">
			</div>
			<div class="col-sm-2 border-right">
		        <label>생년월일</label>
		    </div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="exampleLastName">
		    </div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>은행(카드사)명</label>
			</div>
			<div class="col-sm-2">
			    <input type="text" class="form-control form-control-user" id="exampleLastName">
			</div>
			<div class="col-sm-2 border-right">
		        <label>계좌번호</label>
		    </div>
		    <div class="col-sm-2">
		        <input type="text" class="form-control form-control-user" id="exampleLastName">
		    </div>
			<div class="col-sm-2 border-right">
			    <label>유효기간</label>
			</div>
			<div class="col-sm-2">
			    <input type="text" class="form-control form-control-user" id="exampleLastName">
			</div>
		</div>
	</div>
	
	<!-- 부가기능 -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	    <h6 class="m-0 font-weight-bold text-primary">부가기능</h6>
	</div>
	<div class="card-body">
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
		        <label>유심정보</label>
		    </div>
			<div class="col-sm-3 mb-3 mb-sm-0">
		        <select name="dataTable_length" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
		    </div>
			<div class="col-sm-3 mb-3 mb-sm-0">
			    <select name="dataTable_length" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
			<div class="col-sm-3 mb-3 mb-sm-0">
			    <select name="dataTable_length" aria-controls="dataTable" class="custom-select form-control form-control-sm">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>
	</div>
	
	<!-- 법정 대리인 -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	    <h6 class="m-0 font-weight-bold text-primary">법정 대리인</h6>
	</div>
	<div class="card-body">
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>법정대리인명</label>
			</div>
			<div class="col-sm-4">
			    <input type="text" class="form-control form-control-user" id="exampleLastName">
			</div>
			<div class="col-sm-2 border-right">
		        <label>생년월일</label>
		    </div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="exampleLastName">
		    </div>
		</div>
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>연락처</label>
			</div>
			<div class="col-sm-4">
			    <input type="text" class="form-control form-control-user" id="exampleLastName">
			</div>
			<div class="col-sm-2 border-right">
		        <label>관계</label>
		    </div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="exampleLastName">
		    </div>
		</div>
	</div>
	
	<!-- 판매자 정보 -->
	<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
	    <h6 class="m-0 font-weight-bold text-primary">판매자 정보</h6>
	</div>
	<div class="card-body">
		<div class="form-group row align-items-center d-flex text-center">
			<div class="col-sm-2 border-right">
			    <label>판매점상호</label>
			</div>
			<div class="col-sm-4">
			    <input type="text" class="form-control form-control-user" id="exampleLastName">
			</div>
			<div class="col-sm-2 border-right">
		        <label>연락처</label>
		    </div>
		    <div class="col-sm-4">
		        <input type="text" class="form-control form-control-user" id="exampleLastName">
		    </div>
		</div>
	</div>
</div>