<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>suaninc</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body id="page-top">
	<script>
		function applyFormDownload(preview = false) {
		    var formElement = document.getElementById('dataForm');
		    var dataForm = new FormData(formElement);
			
			var formattedDate = getFormattedDate();
			var selectElement = document.getElementById('templateCode');

		    fetch('/homepage/inscribeView/autoComplete', {
		        method: 'POST',
		        body: dataForm
		    })
		    .then(response => response.blob())
		    .then(blob => {
		        const url = window.URL.createObjectURL(blob);

		        if (preview) {
		            // PDF 미리보기 팝업 창 띄우기
		            const pdfWindow = window.open("", "PDF Preview", "width=800,height=600");
		            if (pdfWindow) {
		                pdfWindow.document.write(
		                    `<html>
		                        <head><title>PDF Preview</title></head>
		                        <body style="margin: 0;">
		                            <embed width="100%" height="100%" src="${url}" type="application/pdf">
		                        </body>
		                    </html>`
		                );
		            } else {
		                alert("팝업 차단이 설정되어 있습니다. 팝업 차단을 해제하고 다시 시도해 주세요.");
		            }
		        } else {
		            // PDF 다운로드 기능
		            const a = document.createElement('a');
		            a.style.display = 'none';
		            a.href = url;
		            a.download = '헬로모바일_' + formattedDate; // 파일 이름을 PDF로 지정하고, 더 명확하게 변경
		            document.body.appendChild(a);
		            a.click();
		            window.URL.revokeObjectURL(url);
		            document.body.removeChild(a);
		        }
		    })
		    .catch(error => console.error('Error downloading the document:', error));  // 오류 메시지 수정
		}

		function updateHiddenFields() {
		    var selectElement = document.getElementById('carrierPlanSelect');
		    var selectedOption = selectElement.options[selectElement.selectedIndex];

		    // 선택된 옵션에서 data- 속성 값 가져오기
		    var carrierPlanId = selectedOption.value;
		    var carrierPlanName = selectedOption.getAttribute('data-plan-name');
		    var mobileCarrier = selectedOption.getAttribute('data-mobile-carrier');
		    var monthlyBillingAmt = selectedOption.getAttribute('data-monthly-billing');
		    var basicAmt = selectedOption.getAttribute('data-basic-amt');
		    var discountAmt = selectedOption.getAttribute('data-discount-amt');
		    var voiceCall = selectedOption.getAttribute('data-voice-call');
		    var mobileData = selectedOption.getAttribute('data-mobile-data');
		    var mobileQos = selectedOption.getAttribute('data-mobile-qos');
		    var mobileMessage = selectedOption.getAttribute('data-mobile-message');
		    
		    // Hidden input 필드에 값 설정하기
		    document.getElementById('carrierPlanId').value = carrierPlanId;
		    document.getElementById('carrierPlanName').value = carrierPlanName;
		    document.getElementById('mobileCarrier').value = mobileCarrier;
		    document.getElementById('monthlyBillingAmt').value = monthlyBillingAmt;
		    document.getElementById('basicAmt').value = basicAmt;
		    document.getElementById('discountAmt').value = discountAmt;
		    document.getElementById('voiceCall').value = voiceCall;
		    document.getElementById('mobileData').value = mobileData;
		    document.getElementById('mobileQos').value = mobileQos;
		    document.getElementById('mobileMessage').value = mobileMessage;
		}

		function getFormattedDate() {
		    var now = new Date();
		    var year = now.getFullYear();
		    var month = ('0' + (now.getMonth() + 1)).slice(-2); // 월은 0부터 시작하므로 +1 필요
		    var day = ('0' + now.getDate()).slice(-2);
		    var hours = ('0' + now.getHours()).slice(-2);
		    var minutes = ('0' + now.getMinutes()).slice(-2);

		    return year + month + day + hours + minutes;
		}
		
		function checkPassword() {
		    var password = prompt("비밀번호를 입력하세요:");

		    if (password === null || password === "") {
		        alert("비밀번호를 입력하지 않았습니다.");
		        return false;
		    }
		    if (password === "1234") {
		        return true;
		    } else {
		        alert("비밀번호가 틀렸습니다.");
		        return false;
		    }
		}
	</script>
	
    <div id="wrapper">

    	<div th:include="sidebar :: sidebar"></div>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">
                <nav class="bg-white mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
				
                <div class="container-fluid">
					<div class="d-sm-flex align-items-center mb-4 justify-content-between">
					    <div>
					        <h1 class="h3 mb-0 text-gray-800">유모바일 가입신청서</h1>
					    </div>
					    <div>
					        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" style="margin-right: 10px;" onclick="applyFormDownload(true)">
					            <i class="fas fa-download fa-sm text-white-50"></i> 출력</a>
					        <a href="#" class="d-none d-sm-inline-block btn btn-primary shadow-sm" onclick="applyFormDownload(false)">
					            <i class="fas fa-download fa-sm text-white-50"></i> 다운로드</a>
					    </div>
					</div>
					<form id="dataForm">
						<input type="hidden" id="templateCode" name="templateCode" th:value="${form.templateCode}">
						<input type="hidden" id="codeDescription" name="codeDescription">
						<input type="hidden" id="carrierPlanId" name="carrierPlanId">
						<input type="hidden" id="carrierPlanName" name="carrierPlanName">
						<input type="hidden" id="mobileCarrier" name="mobileCarrier">
						<input type="hidden" id="monthlyBillingAmt" name="monthlyBillingAmt">
						<input type="hidden" id="basicAmt" name="basicAmt">
						<input type="hidden" id="discountAmt" name="discountAmt">
						<input type="hidden" id="voiceCall" name="voiceCall">
						<input type="hidden" id="mobileData" name="mobileData">
						<input type="hidden" id="mobileQos" name="mobileQos">
						<input type="hidden" id="mobileMessage" name="mobileMessage">
						
						<input type="hidden" name="commonCheck" value="commonCheck">
						
	                    <div class="row">
							<div id="template" class="col-xl-12 col-lg-12">
								<div class="card shadow mb-4">
									
									<!-- 신청서 -->
									<div class="card-body" style="background-color: #f0f8ff; border: 2px solid lightgray;">
										<div class="form-group row align-items-center d-flex text-center" style="margin-bottom: 0rem;">
											<div class="col-sm-2 border-right">
											    <label for="customerType">고객구분</label>
											</div>
											<div class="col-sm-4">
												<select name="customerType" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="customerType1">개인</option>
													<option value="customerType2">사업자</option>
													<option value="customerType3">청소년</option>
													<option value="customerType4">법인</option>
												</select>
											</div>
										</div>
									</div>
									
									<!-- 요금제 -->
								    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								        <h6 class="m-0 font-weight-bold text-primary">요금제</h6>
								    </div>
								    <div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="simSerialNumber">일련번호</label>
											</div>
											<div class="col-sm-4">
											    <input type="text" name="simSerialNumber" class="form-control form-control-user" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
											</div>
											<div class="col-sm-2 border-right">
										        <label for="carrierPlan">요금제</label>
										    </div>
											<div class="col-sm-4 mb-3 mb-sm-0">
												<select id="carrierPlanSelect" name="carrierPlan" aria-controls="dataTable" class="custom-select form-control form-control-sm" onchange="updateHiddenFields()">
											        <th:block th:each="carrierPlan : ${carrierPlanList}">
											            <option th:value="${carrierPlan.carrierPlanId}"
											                    th:text="${carrierPlan.mobileCarrier}"
											                    th:data-plan-name="${carrierPlan.carrierPlanName}"
																th:data-mobile-carrier="${carrierPlan.mobileCarrier}"
											                    th:data-monthly-billing="${carrierPlan.monthlyBillingAmt}"
											                    th:data-basic-amt="${carrierPlan.basicAmt}"
											                    th:data-discount-amt="${carrierPlan.discountAmt}"
											                    th:data-voice-call="${carrierPlan.voiceCall}"
											                    th:data-mobile-data="${carrierPlan.mobileData}"
											                    th:data-mobile-qos="${carrierPlan.mobileQos}"
											                    th:data-mobile-message="${carrierPlan.mobileMessage}">
											            </option>
											        </th:block>
											    </select>
											</div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="simCost">유심 비용</label>
											</div>
											<div class="col-sm-4 mb-3 mb-sm-0">
											    <select name="simCost" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="simCost1">즉납</option>
													<option value="simCost2">후납</option>
												</select>
											</div>
										</div>
								    </div>
									
									<!-- 고객정보 -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									    <h6 class="m-0 font-weight-bold text-primary">고객정보</h6>
									</div>
									<div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
										        <label for="name">가입자명</label>
										    </div>
											<div class="col-sm-4">
										        <input type="text" name="name" class="form-control form-control-user">
										    </div>
											<div class="col-sm-2 border-right">
										        <label for="birthdate">생년월일</label>
										    </div>
										    <div class="col-sm-4">
										        <input type="text" name="birthdate" class="form-control form-control-user">
										    </div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
										        <label for="address">주소</label>
										    </div>
										    <div class="col-sm-10">
												<input type="text" name="address" class="form-control form-control-user">
										    </div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
										        <label for="openingNumber">개통 번호</label>
										    </div>
											<div class="col-sm-4">
											    <input type="text" name="openingNumber" class="form-control form-control-user">
											</div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
										        <label for="openingCategory">개통 구분</label>
										    </div>
											<div class="col-sm-4 mb-3 mb-sm-0">
										        <select name="openingCategory" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="openingCategory1">신규</option>
													<option value="openingCategory2">번호이동</option>
												</select>
										    </div>
											<div class="col-sm-2 border-right">
											    <label for="previousCarrier">이전 통신사</label>
											</div>
										    <div class="col-sm-4">
												<select name="previousCarrier" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="previousCarrier1">SKT</option>
													<option value="previousCarrier2">KT</option>
													<option value="previousCarrier3">U+</option>
													<option value="previousCarrier4">기타</option>
												</select>
										    </div>
										</div>
									</div>
									
									<!-- 자동이체 -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									    <h6 class="m-0 font-weight-bold text-primary">자동이체</h6>
									</div>
									<div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="depositorName">예금주명</label>
											</div>
											<div class="col-sm-4">
											    <input type="text" name="depositorName" class="form-control form-control-user">
											</div>
											<div class="col-sm-2 border-right">
										        <label for="depositorBirthdate">생년월일</label>
										    </div>
										    <div class="col-sm-4">
										        <input type="text" name="depositorBirthdate" class="form-control form-control-user">
										    </div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="paymentName">은행(카드사)명</label>
											</div>
											<div class="col-sm-4">
										        <input type="text" name="paymentName" class="form-control form-control-user">
											</div>
											<div class="col-sm-2 border-right">
											    <label for="effectiveDate">유효기간</label>
											</div>
											<div class="col-sm-4">
											    <input type="text" name="effectiveDate" class="form-control form-control-user">
											</div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
										        <label for="automaticTransfer">자동이체</label>
										    </div>
											<div class="col-sm-4 mb-3 mb-sm-0">
										        <select name="automaticTransfer" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="automaticTransfer1">계좌</option>
													<option value="automaticTransfer2">카드</option>
												</select>
										    </div>
											<div class="col-sm-2 border-right">
											    <label for="accountNumber">계좌번호</label>
											</div>
											<div class="col-sm-4">
										        <input type="text" name="accountNumber" class="form-control form-control-user">
										    </div>
										</div>
									</div>
									
									<!-- 청소년 법정대리인 -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									    <h6 class="m-0 font-weight-bold text-primary">청소년 법정대리인</h6>
									</div>
									<div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="depositorName">예금주명</label>
											</div>
											<div class="col-sm-2">
											    <input type="text" name="depositorName" class="form-control form-control-user">
											</div>
											<div class="col-sm-2 border-right">
										        <label for="depositorBirthdate">생년월일</label>
										    </div>
										    <div class="col-sm-2">
										        <input type="text" name="depositorBirthdate" class="form-control form-control-user">
										    </div>
											<div class="col-sm-2 border-right">
											    <label for="relationship">관계</label>
											</div>
											<div class="col-sm-2">
											    <input type="text" name="relationship" class="form-control form-control-user">
											</div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="legalRepresentativeNumber">법대연락처</label>
											</div>
											<div class="col-sm-4">
											    <input type="text" name="legalRepresentativeNumber" class="form-control form-control-user">
											</div>
											<div class="col-sm-2 border-right">
										        <label for="legalRepresentativeAddress">법대주소</label>
										    </div>
										    <div class="col-sm-4">
										        <input type="text" name="legalRepresentativeAddress" class="form-control form-control-user">
										    </div>
										</div>
									</div>
									
									<!-- 부가기능 -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									    <h6 class="m-0 font-weight-bold text-primary">부가기능</h6>
									</div>
									<div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
										        <label for="additionalServices">부가서비스</label>
										    </div>
											<div class="col-sm-4">
												<select name="additionalServices" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="없음">없음</option>
													<option value="안심옵션">안심옵션</option>
												</select>
											</div>
										</div>
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="overseasData">해외데이터</label>
											</div>
											<div class="col-sm-4">
												<select name="overseasData" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="overseasData1">데이터로밍완전차단</option>
													<option value="overseasData2">차단</option>
													<option value="overseasData3">이용</option>
												</select>
											</div>
											<div class="col-sm-2 border-right">
											    <label for="mobilePayment">통신과금서비스</label>
											</div>
											<div class="col-sm-4">
												<select name="mobilePayment" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<option value="mobilePayment1">휴대폰결제 차단</option>
													<option value="mobilePayment2">휴대폰결제 이용</option>
												</select>
											</div>
										</div>
									</div>
									
									<!-- 판매자 정보 -->
									<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
									    <h6 class="m-0 font-weight-bold text-primary">판매자 정보</h6>
									</div>
									<div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="retailerName">판매점 상호</label>
											</div>
											<div class="col-sm-2">
											    <input type="text" name="retailerName" class="form-control form-control-user">
											</div>
											<div class="col-sm-2 border-right">
											    <label for="sellerName">판매자명</label>
											</div>
											<div class="col-sm-2">
											    <input type="text" name="sellerName" class="form-control form-control-user">
											</div>
											<div class="col-sm-1 border-right">
											    <label for="sellerNumber">연락처</label>
											</div>
											<div class="col-sm-3">
											    <input type="text" name="sellerNumber" class="form-control form-control-user">
											</div>
										</div>
									</div>
								</div>
							</div>
	                    </div>
					</form>
                </div>
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; suaninc 2024</span>
                    </div>
                </div>
            </footer>

        </div>
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>