<!-- fragments/navbar.html -->
<nav th:fragment="navbar(icon, title)" class="layout-navbar navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
						
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        
        <!-- 제목 섹션 -->
        <div class="navbar-nav align-items-center">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <i class="bx" th:classappend="${icon} + ' me-2 text-primary fs-4'"></i>
                <span class="fw-semibold" th:text="${title}"></span>
            </a>
        </div>

        <!-- 오른쪽 메뉴들 -->
        <ul class="navbar-nav flex-row align-items-center ms-auto">
            
            <!-- 언어 선택 --> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" 
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bx bx-globe"></i>
                    <span class="d-none d-md-inline-block ms-1">한국어</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('ko')">
                            <i class="flag-icon flag-icon-kr me-2"></i>
                            한국어
                            <i class="bx bx-check ms-auto text-success"></i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('en')">
                            <i class="flag-icon flag-icon-us me-2"></i>
                            English
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('zh')">
                            <i class="flag-icon flag-icon-cn me-2"></i>
                            中文
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        
    </div>
</nav>
