<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>suaninc</title>
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body id="page-top">
	<div id="wrapper">
		<div th:replace="sidebar :: sidebar"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #20265C; padding-left: 0;">
				    <div style="border-left: 1px solid rgba(255, 255, 255, 0.15); padding-left: 10px; height: 80%; display: flex; align-items: center; margin-left: 0;"></div>
				    <div class="ml-3">
				        <h1 class="h5 mb-0 text-white">요금제 설정</h1>
				    </div>					
				</nav>
				<div class="container-fluid">
					<div class="card shadow mb-4">
					    <div class="card-header py-3 d-flex align-items-center justify-content-between">
					        <h6 class="m-0 font-weight-bold text-primary">요금제</h6>
					        <form id="searchForm" action="/homepage/carrierPlan/carrierPlanList" method="get" class="d-flex">
					            <div class="input-group" style="max-width: 300px;">
					                <select class="form-control small" name="templateCode" th:value="${carrierPlan.templateCode}"
					                        style="background-color: #f8f9fa; border: 1px solid #ddd;" aria-label="Search" aria-describedby="basic-addon2">
					                    <option value="">전체</option>
					                    <option value="helloMobile" th:selected="${carrierPlan.templateCode == 'helloMobile'}">헬로모바일</option>
					                    <option value="ktSnowman" th:selected="${carrierPlan.templateCode == 'ktSnowman'}">KT스노우맨</option>
					                    <option value="skyLife" th:selected="${carrierPlan.templateCode == 'skSnowman'}">SK스노우맨</option>
					                    <option value="skyLife" th:selected="${carrierPlan.templateCode == 'skyLife'}">SKYLIFE</option>
					                    <option value="ktmMobile" th:selected="${carrierPlan.templateCode == 'ktmMobile'}">KTM</option>
					                    <option value="skTelink" th:selected="${carrierPlan.templateCode == 'skTelink'}">7모바일</option>
					                    <option value="uplusuMobile" th:selected="${carrierPlan.templateCode == 'uplusuMobile'}">유모바일</option>
										<option value="joytel" th:selected="${carrierPlan.templateCode == 'joytel'}">조이텔</option>
					                </select>
					                <div class="input-group-append">
					                    <button class="btn btn-primary" type="submit">
					                        <i class="fas fa-search fa-sm"></i>
					                    </button>
					                </div>
					            </div>
					        </form>
					    </div>

						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead class="text-center">
										<tr>
											<th>통신사</th>
											<th>요금제명</th>
											<th>월청구요금</th>
											<th>기본료</th>
											<th>할인</th>
											<th>문자</th>
            								<th style="width: 165px;">수정일자</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="carrierPlan : ${carrierPlanList}">
											<td th:text="${carrierPlan.carrierPlanName}" class="text-center"></td>
											<td>
											    <a th:href="@{/homepage/carrierPlan/carrierPlanInfo(id=${carrierPlan.carrierPlanId})}" th:text="${carrierPlan.mobileCarrier}"></a>
											</td>
										    <td th:text="${carrierPlan.monthlyBillingAmt + '원'}" class="text-center"></td>
										    <td th:text="${carrierPlan.basicAmt + '원'}" class="text-center"></td>
										    <td th:text="${carrierPlan.discountAmt + '원'}" class="text-center"></td>
										    <td th:text="${carrierPlan.voiceCall}" class="text-center"></td>
											<td th:text="${carrierPlan.lastUpdatedDatetime}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<div class="row">
							  
								<div style="display: flex; justify-content: flex-end; width: 100%;">
									<a href="/homepage/carrierPlan/carrierPlanForm" class=" btn btn-primary shadow-sm " style="margin-right: 10px; ">요금제 추가</a>
								</div>
								<div class="col-sm-12 col-md-12">
									<div class="pagination justify-content-center">
									    <ul class="pagination">
									        <li class="paginate_button page-item" th:classappend="${carrierPlanList.number == 0} ? 'disabled'">
									            <a th:href="@{/homepage/carrierPlan/carrierPlanList(page=${0}, templateCode=${carrierPlan.templateCode})}" class="page-link">&laquo;</a>
									        </li>

											<li th:each="i : ${#numbers.sequence(
											        carrierPlanList.number < 3 ? 0 : (carrierPlanList.number >= carrierPlanList.totalPages - 3 ? carrierPlanList.totalPages - 5 : carrierPlanList.number - 2),
											        carrierPlanList.number < 3 ? (carrierPlanList.totalPages >= 5 ? 4 : carrierPlanList.totalPages - 1) : (carrierPlanList.number >= carrierPlanList.totalPages - 3 ? carrierPlanList.totalPages - 1 : carrierPlanList.number + 2))}"
											    class="paginate_button page-item" th:classappend="${carrierPlanList.number == i} ? 'active'">
											    <a th:href="@{/homepage/carrierPlan/carrierPlanList(page=${i}, templateCode=${carrierPlan.templateCode})}" class="page-link" th:text="${i + 1}"></a>
											</li>


											<li class="paginate_button page-item" th:classappend="${carrierPlanList.number == carrierPlanList.totalPages - 1} ? 'disabled'">
											    <a th:if="${carrierPlanList.number < carrierPlanList.totalPages - 1}" 
											       th:href="@{/homepage/carrierPlan/carrierPlanList(page=${carrierPlanList.totalPages - 1}, templateCode=${carrierPlan.templateCode})}" 
											       class="page-link">&raquo;</a>
											    <span th:if="${carrierPlanList.number == carrierPlanList.totalPages - 1}" class="page-link">&raquo;</span>
											</li>
									    </ul>
									</div>
							    </div>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<footer class="sticky-footer bg-white">
			    <div class="container my-auto">
			        <div class="copyright text-center my-auto">
			            <span>Copyright &copy; suaninc 2024</span>
			        </div>
			    </div>
			</footer>
		</div>
	</div>

	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	
	<script>
		$(document).ready(function() {
		    $('#dataTable').DataTable({
		        "paging": true,
		        "searching": true,
		        "info": true,
		        "pageLength": 10,  // 페이지당 10줄 표시
		        "lengthChange": true  // 사용자가 표시할 줄 수를 변경할 수 있도록 설정
		    });
		});
	</script>
	
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/js/sb-admin-2.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</body>

</html>