<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>suaninc</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
	<link href="/css/sb-admin-2.css" rel="stylesheet">

</head>

<body id="page-top">
	<script>
		function updateHiddenFields() {
		    var selectElement = document.getElementById('carrierPlanSelect');
		    if (!selectElement) return; // selectElement가 없으면 함수를 종료

		    var selectedOption = selectElement.options[selectElement.selectedIndex];

		    // 선택된 옵션에서 data- 속성 값 가져오기
		    var carrierPlanId = selectedOption.value;
		    var carrierPlanName = selectedOption.getAttribute('data-plan-name');
		    var mobileCarrier = selectedOption.getAttribute('data-mobile-carrier');
		    var monthlyBillingAmt = selectedOption.getAttribute('data-monthly-billing');
		    var basicAmt = selectedOption.getAttribute('data-basic-amt');
		    var discountAmt = selectedOption.getAttribute('data-discount-amt');
		    var voiceCall = selectedOption.getAttribute('data-voice-call');
		    var mobileData = selectedOption.getAttribute('data-mobile-data');
		    var mobileQos = selectedOption.getAttribute('data-mobile-qos');
		    var mobileMessage = selectedOption.getAttribute('data-mobile-message');
		    
		    // Hidden input 필드에 값 설정하기
		    document.getElementById('carrierPlanId').value = carrierPlanId;
		    document.getElementById('carrierPlanName').value = carrierPlanName;
		    document.getElementById('mobileCarrier').value = mobileCarrier;
		    document.getElementById('monthlyBillingAmt').value = monthlyBillingAmt;
		    document.getElementById('basicAmt').value = basicAmt;
		    document.getElementById('discountAmt').value = discountAmt;
		    document.getElementById('voiceCall').value = voiceCall;
		    document.getElementById('mobileData').value = mobileData;
		    document.getElementById('mobileQos').value = mobileQos;
		    document.getElementById('mobileMessage').value = mobileMessage;
		}

		function fetchData(selectedValue) {
		    var formElement = document.getElementById('dataForm'); // 폼 요소 가져오기
		    var dataForm = new FormData(formElement);
		    var codeDescription = "";

		    if (selectedValue === "HM001") {
		        codeDescription = "helloMobile";
		    } else if (selectedValue === "UM001") {
		        codeDescription = "uplusuMobile";
		    } else if (selectedValue === "SM001" || selectedValue === "SM002") {
		        codeDescription = "snowman";
		    } else if (selectedValue === "SL001") {
		        codeDescription = "skyLife";
		    } else if (selectedValue === "KM001") {
		        codeDescription = "ktmMobile";
		    } else if (selectedValue === "ST001") {
		        codeDescription = "skTelink";
		    }
			document.getElementById('codeDescription').value = codeDescription;
			
		    fetch('/homepage/templates/mobileCarrier', {
		        method: 'POST',
		        body: dataForm
		    })
		    .then(response => response.text())
		    .then(html => {
		        document.getElementById('template').innerHTML = html;
		        setupEventListeners(); // HTML 로드 후에 이벤트 리스너 설정
		        updateHiddenFields();  // 첫 번째 옵션의 값으로 필드 값 설정
		    })
		    .catch(error => console.error('Error loading the header:', error));
		}

		// 이벤트 리스너 설정
		function setupEventListeners() {
		    const selectElement = document.getElementById('carrierPlanSelect');
		    if (selectElement) {
		        selectElement.addEventListener('change', updateHiddenFields);
		    }

		    const templateSelectElement = document.querySelector('select[name="templateCode"]');
		    if (templateSelectElement) {
		        templateSelectElement.addEventListener('change', (event) => {
		            fetchData(event.target.value);
		        });
		    }
		}

		// 페이지 로드 시 이벤트 리스너 설정
		document.addEventListener('DOMContentLoaded', () => {
		    setupEventListeners();
		    
		    // templateCode가 설정되어 있으면 데이터를 가져옴
		    const selectElement = document.querySelector('select[name="templateCode"]');
		    if (selectElement) {
		        fetchData(selectElement.value);
		    }
		});
	</script>
	
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">suaninc</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>가입신청서</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>설정</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/">요금제 설정</a>
                        <a class="collapse-item" href="/">템플릿 설정</a>
                    </div>
                </div>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

					<!-- Page Heading -->
					<div class="d-sm-flex align-items-center mb-4 justify-content-between">
					    <div>
					        <h1 class="h3 mb-0 text-gray-800">요금제 설정</h1>
					    </div>
					</div>

                    <!-- Content Row -->
					<form id="dataForm">
	                    <div class="row">
							<div class="col-lg-12">
								<div class="card shadow mb-4">
									<!-- 요금제 -->
								    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
								        <h6 class="m-0 font-weight-bold text-primary">요금제 수정</h6>
								    </div>
								    <div class="card-body">
										<div class="form-group row align-items-center d-flex text-center">
											<div class="col-sm-2 border-right">
											    <label for="codeName">통신사</label>
											</div>
											<div class="col-sm-4">
												<select name="templateCode" aria-controls="dataTable" class="custom-select form-control form-control-sm">
													<th:block th:each="carrier : ${carrierList}">
													    <option th:value="${carrier.codeValue}" th:text="${carrier.codeName}"></option>
													</th:block>
												</select>
											</div>
											<div class="col-sm-2 border-right">
											    <label for="carrierPlan">요금제</label>
											</div>
											<div class="col-sm-4 mb-3 mb-sm-0">
												<select id="carrierPlanSelect" name="carrierPlan" aria-controls="dataTable" class="custom-select form-control form-control-sm" onchange="updateHiddenFields()">
											        <th:block th:each="carrierPlan : ${carrierPlanList}">
											            <option th:value="${carrierPlan.carrierPlanId}"
											                    th:text="${carrierPlan.mobileCarrier}"
											                    th:data-plan-name="${carrierPlan.carrierPlanName}"
																th:data-mobile-carrier="${carrierPlan.mobileCarrier}"
											                    th:data-monthly-billing="${carrierPlan.monthlyBillingAmt}"
											                    th:data-basic-amt="${carrierPlan.basicAmt}"
											                    th:data-discount-amt="${carrierPlan.discountAmt}"
											                    th:data-voice-call="${carrierPlan.voiceCall}"
											                    th:data-mobile-data="${carrierPlan.mobileData}"
											                    th:data-mobile-qos="${carrierPlan.mobileQos}"
											                    th:data-mobile-message="${carrierPlan.mobileMessage}">
											            </option>
											        </th:block>
											    </select>
											</div>
										</div>
								    </div>
								</div>
							</div>
	                    </div>
					</form>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; suaninc 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>