<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>suaninc</title>
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<script>
		// 순수 JS로 파일 선택 시 이름 표시
  		document.addEventListener("DOMContentLoaded", function () {
    		var input = document.getElementById("excelFile");
    		var label = document.getElementById("excelLabel");
    		input.addEventListener("change", function (e) {
      		var fileName = e.target.files.length > 0 ? e.target.files[0].name : "엑셀 선택";
      		label.textContent = fileName;
			});
  		});
	</script>
</head>

<body id="page-top">
	<div id="wrapper">
		<div th:replace="sidebar :: sidebar"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #20265C; padding-left: 0;">
				    <div style="border-left: 1px solid rgba(255, 255, 255, 0.15); padding-left: 10px; height: 80%; display: flex; align-items: center; margin-left: 0;"></div>
				    <div class="ml-3">
				        <h1 class="h5 mb-0 text-white">모바일(단말) 설정</h1>
				    </div>
				</nav>
				<div class="container-fluid">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<div class="card-header py-3 d-flex justify-content-between align-items-center">
							    <h6 class="m-0 font-weight-bold text-primary">모바일(단말)</h6>
							    
							    <form id="excelUploadForm" method="post" enctype="multipart/form-data" action="/homepage/salesPolicy/uploadExcel" class="form-inline">
							        <div class="custom-file" style="width: 250px;">
							            <input type="file" name="file" class="custom-file-input" id="excelFile" accept=".xlsx,.xls" required>
							            <label class="custom-file-label" for="excelFile" id="excelLabel">엑셀 선택</label>
							        </div>
							        <button type="submit" class="btn btn-primary ml-2">업로드</button>
							    </form>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead class="text-center">
										<tr>
											<th>판매정책명</th>
											<th>판매시작일시</th>
            								<th>판매종료일시</th>
											<th>제품명</th>
											<th>요금제</th>
											<th>등록일자</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="salesPolicy : ${salesPolicyList}">
											<td>
												<a th:href="@{/homepage/salesPolicy/salesPolicyInfo(id=${salesPolicy.id})}" th:text="${salesPolicy.salesPolicyName}"></a>
											</td>
										    <td th:text="${salesPolicy.startDatetime}"></td>
											<td th:text="${salesPolicy.endDatetime}"></td>
											<td th:text="${salesPolicy.productName}"></td>
											<td th:text="${salesPolicy.planName}"></td>
											<td th:text="${salesPolicy.lastUpdatedDatetime}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 페이지네이션 버튼 -->
							<div class="row">
							    <div class="col-sm-12 col-md-12">
							        <div class="pagination justify-content-end">
										<ul class="pagination">
										    <li class="paginate_button page-item" th:classappend="${salesPolicyList.number == 0} ? 'disabled'">
										        <a th:href="@{/homepage/salesPolicy/salesPolicyList(page=${0})}" class="page-link">&laquo;</a>
										    </li>

											<!-- 페이지 번호 출력 -->
											<li th:each="i : ${#numbers.sequence(
											        salesPolicyList.number < 3 ? 0 : (salesPolicyList.number >= salesPolicyList.totalPages - 3 ? salesPolicyList.totalPages - 5 : salesPolicyList.number - 2),
											        salesPolicyList.number < 3 ? (salesPolicyList.totalPages >= 5 ? 4 : salesPolicyList.totalPages - 1) : (salesPolicyList.number >= salesPolicyList.totalPages - 3 ? salesPolicyList.totalPages - 1 : salesPolicyList.number + 2))}"
											    class="paginate_button page-item" th:classappend="${salesPolicyList.number == i} ? 'active'">
											    <a th:href="@{/homepage/salesPolicy/salesPolicyList(page=${i})}" class="page-link" th:text="${i + 1}"></a>
											</li>

											<li class="paginate_button page-item" th:classappend="${salesPolicyList.number == salesPolicyList.totalPages - 1} ? 'disabled'">
											    <a th:if="${salesPolicyList.number < salesPolicyList.totalPages - 1}" 
											       th:href="@{/homepage/salesPolicy/salesPolicyList(page=${salesPolicyList.totalPages - 1})}" 
											       class="page-link">&raquo;</a>
											    <span th:if="${salesPolicyList.number == salesPolicyList.totalPages - 1}" class="page-link">&raquo;</span>
											</li>
										</ul>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="sticky-footer bg-white">
			    <div class="container my-auto">
			        <div class="copyright text-center my-auto">
			            <span>Copyright &copy; suaninc 2024</span>
			        </div>
			    </div>
			</footer>
		</div>
	</div>
	
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	
	<script>
		$(document).ready(function() {
		    $('#dataTable').DataTable({
		        "paging": true,
		        "searching": true,
		        "info": true,
		        "pageLength": 10,  // 페이지당 10줄 표시
		        "lengthChange": true  // 사용자가 표시할 줄 수를 변경할 수 있도록 설정
		    });
		});
	</script>
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/js/sb-admin-2.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</body>

</html>