<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3">suaninc</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item">
			<a class="nav-link" style="padding: 16px 16px 5px 16px;" href="/homepage/templates/helloMobile">
			    <img src="/img/helloMobile.ico" alt="헬로모바일 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> 헬로모바일</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/ktSnowman">
			    <img src="/img/snowman.ico" alt="스노우맨 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> KT 스노우맨</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/skSnowman">
			    <img src="/img/snowman.ico" alt="스노우맨 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> SK 스노우맨</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/skyLife">
			    <img src="/img/skyLife.ico" alt="skyLife 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> SKYLIFE</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/ktmMobile">
			    <img src="/img/ktmMobile.ico" alt="KTM 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> KTM</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/skTelink">
			    <img src="/img/skTelink.ico" alt="7모바일 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> 7모바일</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/uplusuMobile">
			    <img src="/img/uplusuMobile.ico" alt="유모바일 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> 유모바일</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/uplusuMobileYouth">
			    <img src="/img/uplusuMobile.ico" alt="유모바일(청소년) 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> 유모바일(청소년)</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 16px 16px;" href="/homepage/templates/uplusuMobileChange">
			    <img src="/img/uplusuMobile.ico" alt="유모바일(변경) 아이콘" style="width: 18px; height: 18px; vertical-align: middle;">
			    <span> 유모바일(변경)</span>
			</a>
        </li>
		
		<li class="nav-item">
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/ktSnowman">
			    <img src="/img/snowman.png" alt="스노우맨 아이콘" style="width: 35px; height: 18px; vertical-align: middle;">
			    <span> KT 스노우맨</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/skSnowman">
			    <img src="/img/snowman.png" alt="스노우맨 아이콘" style="width: 35px; height: 18px; vertical-align: middle;">
			    <span> SK 스노우맨</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/skyLife">
			    <img src="/img/KakaoTalk_20240923_172520772_03.png" alt="skyLife 아이콘" style="width: 80px; height: 18px; vertical-align: middle;">
			    <span> SKYLIFE</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/skTelink">
			    <img src="/img/skTelink.png" alt="7모바일 아이콘" style="width: 35px; height: 18px; vertical-align: middle;">
			    <span> 7모바일</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/uplusuMobile">
			    <img src="/img/uplusuMobile.png" alt="유모바일 아이콘" style="width: 35px; height: 18px; vertical-align: middle;">
			    <span> 유모바일</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 5px 16px;" href="/homepage/templates/uplusuMobileYouth">
			    <img src="/img/uplusuMobile.png" alt="유모바일(청소년) 아이콘" style="width: 35px; height: 18px; vertical-align: middle;">
			    <span> 유모바일(청소년)</span>
			</a>
			<a class="nav-link" style="padding: 5px 16px 16px 16px;" href="/homepage/templates/uplusuMobileChange">
			    <img src="/img/KakaoTalk_20240923_172520772_05.png" alt="유모바일(변경) 아이콘" style="width: 70px; height: 18px; vertical-align: middle;">
			    <span> 유모바일(변경)</span>
			</a>
		</li>

        <hr class="sidebar-divider">
        <div class="sidebar-heading">
            Interface
        </div>

		<li class="nav-item">
		    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo"
		       aria-expanded="true" aria-controls="collapseTwo">
		        <i class="fas fa-fw fa-cog"></i>
		        <span>설정</span>
		    </a>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingCarriarPlan" data-parent="#accordionSidebar">
		        <div class="bg-white py-2 collapse-inner rounded">
		            <a class="collapse-item" href="/homepage/carrierPlan/carrierPlanList" onclick="return checkPassword();">요금제 설정</a>
				    <a class="collapse-item" href="/homepage/template/templateList" onclick="return checkPassword();">템플릿 설정</a>
				</div>
		    </div>
		</li>
    </ul>
</body>
</html>