<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script>
	function checkPassword() {
	    var password = prompt("비밀번호를 입력하세요:");
	
	    if (password === null || password === "") {
	        alert("비밀번호를 입력하지 않았습니다.");
	        return false;
	    }
	    if (password === "8789") {
	        return true;
	    } else {
	        alert("비밀번호가 틀렸습니다.");
	        return false;
	    }
	}
</script>
<body>
    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3">suaninc</div>
        </a>
		
		<hr class="sidebar-divider">

		<li class="nav-item">
		    <div class="nav-link">
			    <span>SKT 알뜰</span>
			</div>
		    <div class="collapse show">
		        <div class="bg-white py-2 collapse-inner rounded">
		            <a class="collapse-item" href="/homepage/templates/skTelink">SK 7모바일(텔링크)</a>
		            <a class="collapse-item" href="/homepage/templates/snowman">스노우맨</a>
		        </div>
		    </div>
		</li>
		
		<li class="nav-item">
		    <div class="nav-link">
		        <span>KT 알뜰</span>
		    </div>
		    <div class="collapse show">
		        <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/homepage/templates/ktmMobile">KTM 모바일</a>
					<a class="collapse-item" href="/homepage/templates/skyLife">KT 스카이라이프</a>
				</div>
		    </div>
		</li>
		
		<li class="nav-item">
		    <div class="nav-link">
		        <span>LG 알뜰</span>
		    </div>
		    <div class="collapse show">
		        <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/homepage/templates/uplusuMobile">유모바일(미디어로그)</a>
					<a class="collapse-item" href="/homepage/templates/helloMobile">헬로모바일</a>
					<a class="collapse-item" href="/homepage/templates/uplusuMobileYouth">유모바일(청소년)</a>
					<a class="collapse-item" href="/homepage/templates/uplusuMobileChange">유모바일(변경)</a>
				</div>
		    </div>
		</li>

        <hr class="sidebar-divider">

		<li class="nav-item">
		    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo"
		       aria-expanded="true" aria-controls="collapseTwo">
		        <i class="fas fa-fw fa-cog"></i>
		        <span>설정</span>
		    </a>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingCarriarPlan" data-parent="#accordionSidebar">
		        <div class="bg-white py-2 collapse-inner rounded">
		            <a class="collapse-item" href="/homepage/carrierPlan/carrierPlanList" onclick="return checkPassword();">요금제 설정</a>
				    <a class="collapse-item" href="/homepage/template/templateList" onclick="return checkPassword();">템플릿 설정</a>
				</div>
		    </div>
		</li>
    </ul>
</body>
</html>