<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		    <img src="/img/visionMobile.png" alt="suaninc Logo" style="height: 50px; width: auto;">
		</a>
		
		<hr class="sidebar-divider">

		<li class="nav-item">
		    <div class="nav-link">
			    <span>SKT 알뜰</span>
			</div>
		    <div class="collapse show">
		        <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/homepage/templates/joytel">조이텔</a>
					<a class="collapse-item" href="#" onclick="openExternalSite(event)" sec:authorize="hasAuthority('AD')">SK 7모바일(텔링크)</a>
		        </div>
		    </div>
		</li>
		
		<li class="nav-item auth-only" sec:authorize="hasAuthority('AD')">
		    <div class="nav-link">
		        <span>KT 알뜰</span>
		    </div>
		    <div class="collapse show">
		        <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/homepage/templates/ktmMobile">KTM 모바일</a>
					<a class="collapse-item" href="/homepage/templates/skyLife">KT 스카이라이프</a>
				</div>
		    </div>
		</li>
		
		<li class="nav-item" sec:authorize="hasAuthority('AD')">
		    <div class="nav-link">
		        <span>LG 알뜰</span>
		    </div>
		    <div class="collapse show">
		        <div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/homepage/templates/uplusuMobile">유모바일(미디어로그)</a>
					<a class="collapse-item" href="/homepage/templates/uplusuMobileYouth">유모바일(청소년)</a>
					<a class="collapse-item" href="/homepage/templates/helloMobile">헬로모바일</a>
				</div>
		    </div>
		</li>

        <hr class="sidebar-divider" sec:authorize="hasAuthority('AD')">

		<li class="nav-item" sec:authorize="hasAuthority('AD')">
		    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTwo"
		       aria-expanded="true" aria-controls="collapseTwo">
		        <i class="fas fa-fw fa-cog"></i>
		        <span>설정</span>
		    </a>
		    <div id="collapseTwo" class="collapse" aria-labelledby="headingCarriarPlan" data-parent="#accordionSidebar">
		        <div class="bg-white py-2 collapse-inner rounded">
		            <a class="collapse-item" href="/homepage/carrierPlan/carrierPlanList" onclick="return checkPassword();">요금제 설정</a>
				    <a class="collapse-item" href="/homepage/template/templateList" onclick="return checkPassword();">템플릿 설정</a>
				</div>
		    </div>
		</li>
    </ul>
</body>
</html>