<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>suaninc</title>
	<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	<link href="/css/sb-admin-2.css" rel="stylesheet">
	<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
</head>

<body id="page-top">
	<div id="wrapper">
    	<div th:replace="sidebar :: sidebar"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #20265C; padding-left: 0;">
				    <div style="border-left: 1px solid rgba(255, 255, 255, 0.15); padding-left: 10px; height: 80%; display: flex; align-items: center; margin-left: 0;"></div>
				    <div class="ml-3">
				        <h1 class="h5 mb-0 text-white">템플릿 설정</h1>
				    </div>					
				</nav>
				<div class="container-fluid">
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<h6 class="m-0 font-weight-bold text-primary">템플릿</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>템플릿코드</th>
											<th>템플릿명</th>
											<th>템플릿페이지수</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="template : ${templateList}">
											<td th:text="${template.templateCode}"></td>
											<td>
												<a th:href="@{/homepage/template/templateInfo(templateCode=${template.templateCode})}" th:text="${template.templateName}"></a>
											</td>
										    <td th:text="${template.templateCount}"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- 페이지네이션 버튼 -->
							<div class="row">
							    <div class="col-sm-12 col-md-12">
							        <div class="pagination justify-content-end">
										<ul class="pagination">
										    <li class="paginate_button page-item" th:classappend="${templateList.number == 0} ? 'disabled'">
										        <a th:href="@{/homepage/template/templateList(page=${0})}" class="page-link">&laquo;</a>
										    </li>

											<!-- 페이지 번호 출력 -->
											<li th:each="i : ${#numbers.sequence(
											        templateList.number < 3 ? 0 : (templateList.number >= templateList.totalPages - 3 ? templateList.totalPages - 5 : templateList.number - 2),
											        templateList.number < 3 ? (templateList.totalPages >= 5 ? 4 : templateList.totalPages - 1) : (templateList.number >= templateList.totalPages - 3 ? templateList.totalPages - 1 : templateList.number + 2))}"
											    class="paginate_button page-item" th:classappend="${templateList.number == i} ? 'active'">
											    <a th:href="@{/homepage/template/templateList(page=${i})}" class="page-link" th:text="${i + 1}"></a>
											</li>

											<li class="paginate_button page-item" th:classappend="${templateList.number == templateList.totalPages - 1} ? 'disabled'">
											    <a th:if="${templateList.number < templateList.totalPages - 1}" 
											       th:href="@{/homepage/template/templateList(page=${templateList.totalPages - 1})}" 
											       class="page-link">&raquo;</a>
											    <span th:if="${templateList.number == templateList.totalPages - 1}" class="page-link">&raquo;</span>
											</li>
										</ul>
							        </div>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="sticky-footer bg-white">
			    <div class="container my-auto">
			        <div class="copyright text-center my-auto">
			            <span>Copyright &copy; suaninc 2024</span>
			        </div>
			    </div>
			</footer>
		</div>
	</div>
	
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>
	
	<script>
		$(document).ready(function() {
		    $('#dataTable').DataTable({
		        "paging": true,
		        "searching": true,
		        "info": true,
		        "pageLength": 10,  // 페이지당 10줄 표시
		        "lengthChange": true  // 사용자가 표시할 줄 수를 변경할 수 있도록 설정
		    });
		});
	</script>
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
	<script src="/js/sb-admin-2.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</body>

</html>