<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>suaninc</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<style>
		.td-no-padding {
		    padding: 0.5rem !important;
		}
		.input-full {
			width: 100%;
			height: 100%;
			padding: 5px;
			box-sizing: border-box; /* 테두리 크기를 포함하여 크기 계산 */
		}
	</style>
	<script>
		$(document).ready(function () {
		    // 수정 버튼 클릭 시
		    $('.btn-primary').on('click', function () {
		        // 클릭한 버튼의 행 가져오기
		        var row = $(this).closest('tr');

		        // 입력된 값 가져오기
		        var coordinateXAxis = row.find('input').eq(0).val(); // X 좌표값
		        var coordinateYAxis = row.find('input').eq(1).val(); // Y 좌표값
		        var templateCoordinateId = $(this).data('coordinate-id'); // 데이터 ID
		        var templateCode = $(this).data('code'); // 템플릿 코드

		        // 서버로 보낼 데이터 생성
		        var payload = {
		            templateCoordinateId: templateCoordinateId,
		            templateCode: templateCode,
		            coordinateXAxis: coordinateXAxis,
		            coordinateYAxis: coordinateYAxis
		        };

		        // Ajax로 서버에 데이터 전송
		        $.ajax({
		            url: '/homepage/template/modifyCoordinate',
		            method: 'POST',
		            contentType: 'application/json',
		            data: JSON.stringify(payload),
		            success: function (response) {
		                alert('데이터가 성공적으로 수정되었습니다.');

		                // 성공 시 수정된 값으로 화면 갱신
		                row.find('input').eq(0).val(coordinateXAxis); // X 좌표값
		                row.find('input').eq(1).val(coordinateYAxis); // Y 좌표값
		            },
		            error: function (error) {
		                console.error('수정 중 오류 발생:', error);
		                alert('데이터 수정에 실패했습니다.');
		            }
		        });
		    });
		});

		function openImageModal(image) {
		    const modalImage = document.getElementById("modalImage");
		    modalImage.src = image.src; // 클릭한 이미지의 src를 모달 이미지에 설정
		    $('#imageModal').modal('show'); // Bootstrap 모달 표시
		}
		
		let selectedData = {}; // 전역 변수로 선택된 데이터 저장

		function triggerFileUpload(button) {
		    // 클릭된 버튼의 데이터를 읽어와서 전역 변수에 저장
		    selectedData = {
		        carrierTemplateId: button.getAttribute("data-carrier-template-id"),
		        templateCode: button.getAttribute("data-template-code"),
		        templateName: button.getAttribute("data-template-name"),
		        templateImageOrder: button.getAttribute("data-template-image-order"),
		        templateImageName: button.getAttribute("data-template-image-name")
		    };

		    // 파일 선택 창 열기
		    document.getElementById('fileInput').click();
		}

		function handleFileUpload(event) {
		    const file = event.target.files[0];
		    if (file) {
		        // JPG 파일 형식 및 해상도 검사
		        const fileType = file.type;
		        if (fileType !== 'image/jpeg') {
		            alert("JPG 파일만 업로드할 수 있습니다.");
		            return;
		        }

		        const img = new Image();
		        img.src = URL.createObjectURL(file);
		        img.onload = function() {
		            const width = img.width;
		            const height = img.height;

		            if (width === 2000 && height === 2828) {
		                // 유효한 파일인 경우 업로드 처리
		                uploadFile(file);
		            } else {
		                alert("이미지 해상도는 2000x2828이어야 합니다.");
		            }

		            URL.revokeObjectURL(img.src);
		        };
		    }
		}

		function uploadFile(file) {
		    const formData = new FormData();
		    formData.append("file", file);
		    formData.append("templateCode", selectedData.templateCode); // 선택된 행의 데이터 사용
		    formData.append("carrierTemplateId", selectedData.carrierTemplateId); // 선택된 이미지 ID 사용

		    fetch('/homepage/template/replaceImage', {
		        method: 'POST',
		        body: formData
		    })
		    .then(response => response.json())
		    .then(data => {
		        if (data.success) {
		            alert("이미지가 성공적으로 교체되었습니다.");
		            // 페이지 새로고침 또는 UI 업데이트 코드 추가
		        } else {
		            alert("이미지 교체에 실패했습니다.");
		        }
		    })
		    .catch(error => console.error("Error replacing image:", error));
		}
	</script>
</head>

<body id="page-top">

    <div id="wrapper">
		<div th:replace="sidebar :: sidebar"></div>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
				<nav class="navbar navbar-expand navbar-light topbar mb-4 static-top shadow" style="background-color: #20265C; padding-left: 0;">
				    <div style="border-left: 1px solid rgba(255, 255, 255, 0.15); padding-left: 10px; height: 80%; display: flex; align-items: center; margin-left: 0;"></div>
				    <div class="ml-3">
				        <h1 class="h5 mb-0 text-white">템플릿 상세정보</h1>
				    </div>					
				</nav>
                <div class="container-fluid">

					<!-- 고객구분 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">요금제</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseCustomerType" aria-expanded="true" aria-controls="collapseCustomerType">
							    <i class="fas fa-chevron-up"></i>
							</button>
						</div>
					    <div id="collapseCustomerType" class="collapse show">
					        <div class="card-body">
					            <div class="table-responsive">
					                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					                    <thead>
					                        <tr>
					                            <th>템플릿코드</th>
					                            <th>타입</th>
					                            <th>폰트</th>
					                            <th>크기</th>
					                            <th>X값</th>
					                            <th>Y값</th>
					                            <th>페이지 번호</th>
												<th>수정일자</th>
												<th class="fixed-width"></th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        <tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '고객구분'">
					                            <td th:text="${template.templateCoordinateName}"></td>
					                            <td th:text="${template.templateInputType}"></td>
					                            <td th:text="${template.fontStyle}"></td>
					                            <td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
					                            <td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
					                            <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
													    style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
													    th:attr="data-coordinate-name=${template.templateCoordinateName},
													             data-coordinate-id=${template.templateCoordinateId}, 
													             data-code=${template.templateCode}, 
													             data-input-type=${template.templateInputType}">
													    수정
													</button>
					                            </td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>
					
					<!-- 요금제 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">요금제</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseCustomerType" aria-expanded="true" aria-controls="collapseCustomerType">
							    <i class="fas fa-chevron-up"></i>
							</button>
						</div>
					    <div id="collapseCustomerType" class="collapse show">
					        <div class="card-body">
					            <div class="table-responsive">
					                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					                    <thead>
					                        <tr>
					                            <th>템플릿코드</th>
					                            <th>타입</th>
					                            <th>폰트</th>
					                            <th>크기</th>
					                            <th>X값</th>
					                            <th>Y값</th>
					                            <th>페이지 번호</th>
												<th>수정일자</th>
            									<th class="fixed-width"></th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        <tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '요금제'">
					                            <td th:text="${template.templateCoordinateName}"></td>
					                            <td th:text="${template.templateInputType}"></td>
					                            <td th:text="${template.fontStyle}"></td>
					                            <td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
					                            <td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
					                            <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
													    style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
													    th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
													             data-input-type=${template.templateInputType}, 
													             data-x=${template.coordinateXAxis}, 
																 data-y=${template.coordinateYAxis},
																 data-path=${template.templateImagePath}"
													    data-toggle="modal" data-target="#editModal">
													    수정
													</button>
					                            </td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>
					
					<!-- 가입비 및 유심정보 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">가입비 및 유심정보</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseCustomerType" aria-expanded="true" aria-controls="collapseCustomerType">
							    <i class="fas fa-chevron-up"></i>
							</button>
						</div>
					    <div id="collapseCustomerType" class="collapse show">
					        <div class="card-body">
					            <div class="table-responsive">
					                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					                    <thead>
					                        <tr>
					                            <th>템플릿코드</th>
					                            <th>타입</th>
					                            <th>폰트</th>
					                            <th>크기</th>
					                            <th>X값</th>
					                            <th>Y값</th>
					                            <th>페이지 번호</th>
												<th>수정일자</th>
												<th class="fixed-width"></th>
					                        </tr>
					                    </thead>
					                    <tbody>
					                        <tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '가입비 및 유심정보'">
					                            <td th:text="${template.templateCoordinateName}"></td>
					                            <td th:text="${template.templateInputType}"></td>
					                            <td th:text="${template.fontStyle}"></td>
					                            <td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
					                            <td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
					                            <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
													    style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
													    th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
													             data-input-type=${template.templateInputType}, 
													             data-x=${template.coordinateXAxis}, 
																 data-y=${template.coordinateYAxis},
																 data-path=${template.templateImagePath}"
													    data-toggle="modal" data-target="#editModal">
													    수정
													</button>
					                            </td>
					                        </tr>
					                    </tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>
					
					<!-- 고객정보 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">고객정보</h6>
						    <button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseCustomerInfo" aria-expanded="true" aria-controls="collapseCustomerInfo">
						        <i class="fas fa-chevron-up"></i>
						    </button>
						</div>
						<div id="collapseCustomerInfo" class="collapse show">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>템플릿코드</th>
												<th>타입</th>
												<th>폰트</th>
												<th>크기</th>
												<th>X값</th>
												<th>Y값</th>
												<th>페이지 번호</th>
												<th>수정일자</th>
            									<th class="fixed-width"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '고객정보'">
										        <td th:text="${template.templateCoordinateName}"></td>
										        <td th:text="${template.templateInputType}"></td>
												<td th:text="${template.fontStyle}"></td>
												<td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
												<td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
										        <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
													    style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
													    th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
													             data-input-type=${template.templateInputType}, 
													             data-x=${template.coordinateXAxis}, 
																 data-y=${template.coordinateYAxis},
																 data-path=${template.templateImagePath}"
													    data-toggle="modal" data-target="#editModal">
													    수정
													</button>
										        </td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 자동이체 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">결제정보</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapsePaymentInfo" aria-expanded="true" aria-controls="collapsePaymentInfo">
							    <i class="fas fa-chevron-down"></i>
							</button>
						</div>
						<div id="collapsePaymentInfo" class="collapse">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>템플릿코드</th>
												<th>타입</th>
												<th>폰트</th>
												<th>크기</th>
												<th>X값</th>
												<th>Y값</th>
												<th>페이지 번호</th>
												<th>수정일자</th>
            									<th class="fixed-width"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '자동이체'">
										        <td th:text="${template.templateCoordinateName}"></td>
										        <td th:text="${template.templateInputType}"></td>
												<td th:text="${template.fontStyle}"></td>
												<td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
												<td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
										        <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
													    style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
													    th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
													             data-input-type=${template.templateInputType}, 
													             data-x=${template.coordinateXAxis}, 
																 data-y=${template.coordinateYAxis},
																 data-path=${template.templateImagePath}"
													    data-toggle="modal" data-target="#editModal">
													    수정
													</button>
										        </td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 법정대리인 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">법정대리인</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseLegalRepresentative" aria-expanded="true" aria-controls="collapseLegalRepresentative">
							    <i class="fas fa-chevron-down"></i>
							</button>
						</div>
						<div id="collapseLegalRepresentative" class="collapse">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>템플릿코드</th>
												<th>타입</th>
												<th>폰트</th>
												<th>크기</th>
												<th>X값</th>
												<th>Y값</th>
												<th>페이지 번호</th>
												<th>수정일자</th>
            									<th class="fixed-width"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '법정대리인'">
										        <td th:text="${template.templateCoordinateName}"></td>
										        <td th:text="${template.templateInputType}"></td>
												<td th:text="${template.fontStyle}"></td>
												<td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
												<td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
										        <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
													    style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
													    th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
													             data-input-type=${template.templateInputType}, 
													             data-x=${template.coordinateXAxis}, 
													             data-y=${template.coordinateYAxis},
 													             data-path=${template.templateImagePath}"
													    data-toggle="modal" data-target="#editModal">
													    수정
													</button>
										        </td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 부가기능 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">부가기능</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseAdditionalFunction" aria-expanded="true" aria-controls="collapseAdditionalFunction">
							    <i class="fas fa-chevron-down"></i>
							</button>
						</div>
						<div id="collapseAdditionalFunction" class="collapse">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>템플릿코드</th>
												<th>타입</th>
												<th>폰트</th>
												<th>크기</th>
												<th>X값</th>
												<th>Y값</th>
												<th>페이지 번호</th>
												<th>수정일자</th>
            									<th class="fixed-width"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '부가기능'">
										        <td th:text="${template.templateCoordinateName}"></td>
										        <td th:text="${template.templateInputType}"></td>
												<td th:text="${template.fontStyle}"></td>
												<td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
												<td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
										        <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
												        style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
												        th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
												                 data-input-type=${template.templateInputType}, 
												                 data-x=${template.coordinateXAxis}, 
																 data-y=${template.coordinateYAxis},
																 data-path=${template.templateImagePath}"
												        data-toggle="modal" data-target="#editModal">
													    수정
													</button>
										        </td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 판매자정보 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">판매자정보</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseSellerInfo" aria-expanded="true" aria-controls="collapseSellerInfo">
							    <i class="fas fa-chevron-down"></i>
							</button>
						</div>
						<div id="collapseSellerInfo" class="collapse">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>템플릿코드</th>
												<th>타입</th>
												<th>폰트</th>
												<th>크기</th>
												<th>X값</th>
												<th>Y값</th>
												<th>페이지 번호</th>
												<th>수정일자</th>
            									<th class="fixed-width"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '판매자정보'">
										        <td th:text="${template.templateCoordinateName}"></td>
										        <td th:text="${template.templateInputType}"></td>
												<td th:text="${template.fontStyle}"></td>
												<td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
												<td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
										        <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
												        style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
												        th:attr="data-coordinate-name=${template.templateCoordinateName},
																 data-coordinate-id=${template.templateCoordinateId}, 
																 data-code=${template.templateCode}, 
												                 data-input-type=${template.templateInputType}, 
												                 data-x=${template.coordinateXAxis}, 
																 data-y=${template.coordinateYAxis},
																 data-path=${template.templateImagePath}"
												        data-toggle="modal" data-target="#editModal">
													    수정
													</button>
										        </td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>		
					
					<!-- 공통체크 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">공통체크</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseCommonInfo" aria-expanded="true" aria-controls="collapseCommonInfo">
							    <i class="fas fa-chevron-down"></i>
							</button>
						</div>
						<div id="collapseCommonInfo" class="collapse">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>템플릿코드</th>
												<th>타입</th>
												<th>폰트</th>
												<th>크기</th>
												<th>X값</th>
												<th>Y값</th>
												<th>페이지 번호</th>
												<th>수정일자</th>
												<th class="fixed-width"></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="template : ${templateInfo}" th:if="${template.templateType != null} and ${template.templateType} == '공통체크'">
										        <td th:text="${template.templateCoordinateName}"></td>
										        <td th:text="${template.templateInputType}"></td>
												<td th:text="${template.fontStyle}"></td>
												<td th:text="${template.fontSize}"></td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateXAxis}">
												</td>
												<td class="td-no-padding">
												    <input type="text" class="form-control input-full" th:value="${template.coordinateYAxis}">
												</td>
												<td th:text="${template.templateImageOrder}"></td>
												<td th:text="${#dates.format(template.lastUpdatedDatetime, 'yyyy-MM-dd hh:mm')}"></td>
										        <td style="padding:0.5rem;">
													<button type="button" class="btn btn-primary shadow-sm"
												        style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;">
													    수정
													</button>
										        </td>
										    </tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<!-- 템플릿 이미지 -->
					<div class="card shadow mb-4">
						<div class="card-header py-3 d-flex align-items-center justify-content-between">
						    <h6 class="m-0 font-weight-bold text-primary">이미지</h6>
							<button class="btn btn-toggle shadow-sm ml-auto toggle-btn" type="button" data-toggle="collapse" data-target="#collapseCustomerType" aria-expanded="true" aria-controls="collapseCustomerType">
							    <i class="fas fa-chevron-up"></i>
							</button>
						</div>
					    <div id="collapseCustomerType" class="collapse show">
					        <div class="card-body">
					            <div class="table-responsive">
					                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					                    <thead>
					                        <tr>
												<th>No</th>
												<th>이미지</th>
					                            <th>이미지명</th>
					                            <th class="fixed-width">순서</th>
												<th>수정일자</th>
												<th class="fixed-width"></th>
					                        </tr>
					                    </thead>
										<tbody>
										    <tr th:each="templateImage : ${templateImageList}">
										        <td th:text="${templateImage.rowNum}" class="text-center align-middle"></td>
										        <td class="text-center align-middle">
										            <img th:src="@{/external-images/{templateCode}/{imageName}(templateCode=${templateImage.templateCode}, imageName=${templateImage.templateImageName})}"
														alt="Image" class="img-thumbnail" width="100" height="100" onclick="openImageModal(this)">
										        </td>
										        <td th:text="${templateImage.templateImageName}" class="text-center align-middle"></td>
										        <td th:text="${templateImage.templateImageOrder}" class="text-center align-middle"></td>
										        <td th:text="${#dates.format(templateImage.lastUpdatedDatetime, 'yyyy-MM-dd')}" class="text-center align-middle"></td>
										        <td class="text-center align-middle" style="padding:0.5rem;">
										            <button type="button" class="btn btn-primary shadow-sm"
										                style="background-color:#FE9F29; border-color:#FE9F29; padding:0.15rem 0.45rem;"
										                th:attr="data-carrier-template-id=${templateImage.carrierTemplateId},
										                         data-template-code=${templateImage.templateCode}, 
										                         data-template-name=${templateImage.templateName}, 
										                         data-template-image-order=${templateImage.templateImageOrder}, 
										                         data-template-image-name=${templateImage.templateImageName}"
										                onclick="triggerFileUpload(this)">
										                수정
										            </button>
										            <input type="file" id="fileInput" style="display: none;" accept=".jpg" onchange="handleFileUpload(event)">
										        </td>
										    </tr>
										</tbody>
					                </table>
					            </div>
					        </div>
					    </div>
					</div>
					
                </div>
            </div>
			<footer class="sticky-footer bg-white">
			    <div class="container my-auto">
			        <div class="copyright text-center my-auto">
			            <span>Copyright &copy; suaninc 2024</span>
			        </div>
			    </div>
			</footer>
        </div>
    </div>
	
	<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
	        <div class="modal-content">
	            <div class="modal-body text-center">
	                <img id="modalImage" src="" alt="Expanded Image" class="img-fluid">
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
	            </div>
	        </div>
	    </div>
	</div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin-2.min.js"></script>
</body>

</html>